@page  "/example/{greeting?}"
@rendermode InteractiveServer

<h1> Example Page </h1>

<p>@Message</p>

<p>Welcome, dear @greeting!</p>

<Counter count ="100"/>

<Counter count ="30"/>

@code {
    [Parameter] public string? greeting {get;set;}
    private string Message {get;set;} = "Hello, Blazor!";

    
}