@page "/myorders"
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<BookstoreDb> DbFactory
@implements IAsyncDisposable

<PageTitle>Bookstore - Myorders </PageTitle>

@if (orders is null)
{
    <p>Loading...</p>
}
else
{
    @foreach (var order in orders)
    {
        <div class="mt-4">
            <h5>@order.OrderDate.ToString("MMMM dd, yyyy")</h5>
            
            @foreach (var item in order.OrderItems)
            {
                <div class="row">
                    <div class="col-6">
                        <strong>@item.Book.Title (@item.Quantity):</strong>
                    </div>
                    <div class="col-6">
                        $@((item.Quantity * item.Book.Price).ToString("F2"))
                    </div>
                </div>
            }
            
            <p class="mt-2">
                <em>Total (@order.OrderItems.Count): $@order.OrderItems.Sum(i => i.Quantity * i.Book.Price).ToString("F2")</em>
            </p>
        </div>
    }
}

@code {
    private BookstoreDb context { get; set; }
    private List<Order>? orders;

    protected override async Task OnInitializedAsync()
    {
        context = DbFactory.CreateDbContext();
        
        orders = await context.Orders
            .Include(o => o.OrderItems)
            .ThenInclude(oi => oi.Book)
            .OrderBy(o => o.OrderDate)
            .AsNoTracking()
            .ToListAsync();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}